<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="true">
    <div style="width: 400px; padding: 50px;">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input formControlName="login"></ion-input>
            </ion-item>

            <div *ngIf="submitted && frm.login.errors" class="invalid-feedback">
                <ion-item *ngIf="frm.email.errors.required">
                    <p style="color:red">Login é obrigatório!</p>
                </ion-item>
            </div>

            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
                <ion-item *ngIf="frm.password.errors.required">
                    <p style="color:red">Digite a senha!</p>
                </ion-item>
                <ion-item *ngIf="frm.password.errors.minlength">
                    <p style="color:red">A senha deve ser de no mínimo seis caracteres!</p>
                </ion-item>
            </div>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button size="small" type="submit">Entrar <ion-spinner name="bubbles" *ngIf="loading">
                            </ion-spinner>
                        </ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </form>
    </div>

</ion-content>